/* 自定义轮播的样式
-------------------------------------------------- */
/* 轮播轮廓及颜色 */
.carousel {
    background: #ffffff;
    height: 450px;
    width: 100%;
}
/* 轮播样式——html元素 */
#myCarousel a,
#myCarousel h2,
#myCarousel h3 {
    color: #ffffff;
    text-decoration: none;
    line-height: 125%;
}
#myCarousel ol {
    right: 45%;
    top: 420px;
}
#myCarousel ol li {
    margin: 0 15px;
    background: #ffffff;
}
#myCarousel ol li:hover,
#myCarousel ol li:focus {
    background: #87cefa;
}
#myCarousel ol .active,
#myCarousel ol .active:hover,
#myCarousel ol .active:focus{
    background: #0582b7;
}
#myCarousel .carousel-inner img {
    max-height: 60px;
    max-width: 300px;
}
#myCarousel .carousel-inner a {
     font-size: 16px;         /*resp*/
 }
#myCarousel h2 {
    font-size: 35px;         /*resp*/
}
#myCarousel h3 {
    font-size: 22px;         /*resp*/
}
/* 轮播样式——响应式元素 */
.carousel-inner {
    z-index: 2;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.carousel-inner li .container {
    top: 102px;
    margin-top: 0;
    padding: 0;
    background: none;
    background: rgba(255,255,255,0);
}
.fixed-caption {
    position: relative;
    z-index:2;
    background-color: rgba(0, 0, 0, 0.6);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
    width: 240px;
    height: 450px;
}
.fixed-caption a {
    font-size: 14px;
    vertical-align: middle;
}
.fixed-caption ul {
    margin: 25px 25px;
}
.fixed-caption li {
    text-align: center;
    list-style: none;
    height: 42px;
    line-height: 38px;
    margin-top: 30px;
}
.fixed-caption h3 {
    text-align: center;
    margin: 40px auto;
}
/*轮播响应式*/
#myCarousel > .container {
    position: relative;
}
#myCarousel > .container > .row > .span12 {
    position:absolute;
    top:-450px;
}
/* 页脚自定义轮播样式 */
#footCarousel a {
    font-size:12px;
}
#footCarousel p,
#footCarousel strong {
    color: #666666;
    font-size: 12px;
    margin-bottom: 15px;
    line-height: 150%;
}
#footCarousel ul {
    margin-top: -5px;
}
#footCarousel li {
    color: #666666;
    font-size: 12px;
    line-height: 150%;
}
#footCarousel ol {
    right: 40%;
}
#footCarousel ol li {
    margin: 0 20px;
    background: lightgray;
}
#footCarousel ol li:hover,
#footCarousel ol li:focus,
#footCarousel ol .active,
#footCarousel ol .active:hover,
#footCarousel ol .active:focus{
    background: #0582b7;
}
#footCarousel h4 {
    font-size: 16px;
    line-height: 150%;
}
/*页脚轮播响应式*/
#footCarousel ol {
    top: 430px;
}