/* 公共的全局样式——包括：字体、渐变颜色、基础html元素、导航栏、页脚、固定按钮、分割线的样式
-------------------------------------------------- */
@font-face {
    font-family:'JiahuSansLight';
    src:url('../font/JiahuSans-Light.eot');
    src:url('../font/JiahuSans-Light.eot?#iefix') format('embedded-opentype'),url('../font/JiahuSans-Light.woff') format('woff'),url('../font/JiahuSans-Light.woff2') format('woff2'),url('../font/JiahuSans-Light.ttf') format('truetype'),url('../font/JiahuSans-Light.svg#JiahuSansLight') format('svg');
    font-weight:normal;
    font-style:normal
}
@font-face {
    font-family:'JiahuSansRegular';
    src:url('../font/JiahuSans-Regular.eot');
    src:url('../font/JiahuSans-Regular.eot?#iefix') format('embedded-opentype'),url('../font/JiahuSans-Regular.woff') format('woff'),url('../font/JiahuSans-Regular.woff2') format('woff2'),url('../font/JiahuSans-Regular.ttf') format('truetype'),url('../font/JiahuSans-Regular.svg#JiahuSansRegular') format('svg');
    font-weight:normal;
    font-style:normal
}
/* 7个渐变颜色 */
.gray2light {
    background: #7a7a7a;
    background:-moz-linear-gradient(top,#7a7a7a 0,#727272 26%,#5a5a5a 76%,#525252 100%)!important;
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#7a7a7a),color-stop(26%,#727272),color-stop(76%,#5a5a5a),color-stop(100%,#525252))!important;
    background:-webkit-linear-gradient(top,#7a7a7a 0,#727272 26%,#5a5a5a 76%,#525252 100%)!important;
    background:-o-linear-gradient(top,#7a7a7a 0,#727272 26%,#5a5a5a 76%,#525252 100%)!important;
    background:-ms-linear-gradient(top,#7a7a7a 0,#727272 26%,#5a5a5a 76%,#525252 100%)!important;
    background:linear-gradient(top,#7a7a7a 0,#727272 26%,#5a5a5a 76%,#525252 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#727272,endcolorstr=#525252,gradientType=0);
}
.gray2light:hover,
.gray2light:focus {
    background: #999;
    background:-moz-linear-gradient(top,#999 0,#939393 26%,#7a7a7a 76%,#727272 100%)!important;
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#999),color-stop(26%,#939393),color-stop(76%,#7a7a7a),color-stop(100%,#727272))!important;
    background:-webkit-linear-gradient(top,#999 0,#939393 26%,#7a7a7a 76%,#727272 100%)!important;
    background:-o-linear-gradient(top,#999 0,#939393 26%,#7a7a7a 76%,#727272 100%)!important;
    background:-ms-linear-gradient(top,#999 0,#939393 26%,#7a7a7a 76%,#727272 100%)!important;
    background:linear-gradient(top,#999 0,#939393 26%,#7a7a7a 76%,#727272 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#999999,endcolorstr=#727272,gradientType=0);
}
.grass2light {
    background:#96b432;
    background:-moz-linear-gradient(top,#96b432 0,#92b42a 3%,#8fb429 9%,#8eb12f 12%,#8db12b 15%,#88ad29 24%,#7fa629 41%,#759d23 56%,#679320 79%,#64911a 85%,#648e22 88%,#638d1d 91%,#5e8d1d 97%,#64891f 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#96b432),color-stop(3%,#92b42a),color-stop(9%,#8fb429),color-stop(12%,#8eb12f),color-stop(15%,#8db12b),color-stop(24%,#88ad29),color-stop(41%,#7fa629),color-stop(56%,#759d23),color-stop(79%,#679320),color-stop(85%,#64911a),color-stop(88%,#648e22),color-stop(91%,#638d1d),color-stop(97%,#5e8d1d),color-stop(100%,#64891f));
    background:-webkit-linear-gradient(top,#96b432 0,#92b42a 3%,#8fb429 9%,#8eb12f 12%,#8db12b 15%,#88ad29 24%,#7fa629 41%,#759d23 56%,#679320 79%,#64911a 85%,#648e22 88%,#638d1d 91%,#5e8d1d 97%,#64891f 100%);
    background:-o-linear-gradient(top,#96b432 0,#92b42a 3%,#8fb429 9%,#8eb12f 12%,#8db12b 15%,#88ad29 24%,#7fa629 41%,#759d23 56%,#679320 79%,#64911a 85%,#648e22 88%,#638d1d 91%,#5e8d1d 97%,#64891f 100%);
    background:-ms-linear-gradient(top,#96b432 0,#92b42a 3%,#8fb429 9%,#8eb12f 12%,#8db12b 15%,#88ad29 24%,#7fa629 41%,#759d23 56%,#679320 79%,#64911a 85%,#648e22 88%,#638d1d 91%,#5e8d1d 97%,#64891f 100%);
    background:linear-gradient(top,#96b432 0,#92b42a 3%,#8fb429 9%,#8eb12f 12%,#8db12b 15%,#88ad29 24%,#7fa629 41%,#759d23 56%,#679320 79%,#64911a 85%,#648e22 88%,#638d1d 91%,#5e8d1d 97%,#64891f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#96b432,endcolorstr=#64891f,gradientType=0);
}
.grass2light:hover,
.grass2light:focus {
    background:#acd045;
    background:-moz-linear-gradient(top,#acd045 0,#a1c63f 21%,#6f9a25 76%,#608d1e 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#acd045),color-stop(21%,#a1c63f),color-stop(76%,#6f9a25),color-stop(100%,#608d1e));
    background:-webkit-linear-gradient(top,#acd045 0,#a1c63f 21%,#6f9a25 76%,#608d1e 100%);
    background:-o-linear-gradient(top,#acd045 0,#a1c63f 21%,#6f9a25 76%,#608d1e 100%);
    background:-ms-linear-gradient(top,#acd045 0,#a1c63f 21%,#6f9a25 76%,#608d1e 100%);
    background:linear-gradient(top,#acd045 0,#a1c63f 21%,#6f9a25 76%,#608d1e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#a1c63f,endcolorstr=#608d1e,gradientType=0);
}
.blue2light {
    background:#0582b7;
    background:-moz-linear-gradient(top,#0582b7 0,#0478af 29%,#025c98 85%,#035995 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#0582b7),color-stop(29%,#0478af),color-stop(85%,#025c98),color-stop(100%,#035995));
    background:-webkit-linear-gradient(top,#0582b7 0,#0478af 29%,#025c98 85%,#035995 100%);
    background:-o-linear-gradient(top,#0582b7 0,#0478af 29%,#025c98 85%,#035995 100%);
    background:-ms-linear-gradient(top,#0582b7 0,#0478af 29%,#025c98 85%,#035995 100%);
    background:linear-gradient(top,#0582b7 0,#0478af 29%,#025c98 85%,#035995 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#0582b7,endcolorstr=#035995,gradientType=0);
}
.blue2light:hover,
.blue2light:focus,
.blue4fixed,
.blue4fixed:hover,
.blue4fixed:focus {
    background:#1f8ebe;
    background:-moz-linear-gradient(top,#1f8ebe 0,#1d84b5 32%,#1c71a6 74%,#1d6a9e 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#1f8ebe),color-stop(32%,#1d84b5),color-stop(74%,#1c71a6),color-stop(100%,#1d6a9e));
    background:-webkit-linear-gradient(top,#1f8ebe 0,#1d84b5 32%,#1c71a6 74%,#1d6a9e 100%);
    background:-o-linear-gradient(top,#1f8ebe 0,#1d84b5 32%,#1c71a6 74%,#1d6a9e 100%);
    background:-ms-linear-gradient(top,#1f8ebe 0,#1d84b5 32%,#1c71a6 74%,#1d6a9e 100%);
    background:linear-gradient(top,#1f8ebe 0,#1d84b5 32%,#1c71a6 74%,#1d6a9e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#1f8ebe,endcolorstr=#1d6a9e,gradientType=0);
}
.silver2white,
.silver2white:hover,
.silver2white:focus {
    background: #ffffff;
    background: -moz-linear-gradient(top,#e1e1e1 0,#f2f2f2 60%,#fefefe 91%,#fff 100%)!important;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#e1e1e1),color-stop(60%,#f2f2f2),color-stop(91%,#fefefe),color-stop(100%,#fff))!important;
    background:-webkit-linear-gradient(top,#e1e1e1 0,#f2f2f2 60%,#fefefe 91%,#fff 100%)!important;
    background:-o-linear-gradient(top,#e1e1e1 0,#f2f2f2 60%,#fefefe 91%,#fff 100%)!important;
    background:-ms-linear-gradient(top,#e1e1e1 0,#f2f2f2 60%,#fefefe 91%,#fff 100%)!important;
    background:linear-gradient(top,#e1e1e1 0,#f2f2f2 60%,#fefefe 91%,#fff 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#e1e1e1,endcolorstr=#ffffff,gradientType=0);
}
/* 基础html元素 */
body, td, th, form, h1, h2, h3, h4, h5, p, a, li {
    font-family: JiahuSansRegular,Arial,sans-serif;
    font-weight: normal;
    color: #333
}

.featurette-divider {
    margin: 0 auto 0 -20px;
}
/*.row,
[class*="span"] {
    margin-left: 0
}*/
.right-angle {
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
}
.fade {
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
}
/* 右侧固定按钮 */
.fixed-right,
.fixed-right:hover {
    display: block;
    position: fixed;
    top: 40%;
    right: 0px;
    width: 32px;
    padding: 20px 0 20px 5px;
}
.fixed-right p {
    margin-bottom:0;
    color:#fff;
}
.fixed-right a,
.fixed-right:hover a {
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
}
/* 自定义导航栏的样式
-------------------------------------------------- */
/* 导航栏轮廓及颜色 */
.navbar-wrapper {
    background:#fff;
    background:-moz-linear-gradient(top,#fff 0,#fefefe 60%,#f2f2f2 91%,#e1e1e1 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(60%,#fefefe),color-stop(91%,#f2f2f2),color-stop(100%,#e1e1e1));
    background:-webkit-linear-gradient(top,#fff 0,#fefefe 60%,#f2f2f2 91%,#e1e1e1 100%);
    background:-o-linear-gradient(top,#fff 0,#fefefe 60%,#f2f2f2 91%,#e1e1e1 100%);
    background:-ms-linear-gradient(top,#fff 0,#fefefe 60%,#f2f2f2 91%,#e1e1e1 100%);
    background:linear-gradient(top,#fff 0,#fefefe 60%,#f2f2f2 91%,#e1e1e1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#ffffff,endcolorstr=#e1e1e1,gradientType=0);
    *position: relative;
    *z-index: 30;
    overflow: visible;
    top:0;
    left:0;
    right:0;
    margin-bottom: 0;
}
.wrapper-fixed {
    position: fixed;
    z-index: 800;
    top: 0;
}
/*导航上半部分*/
.contact {
    margin-top: 3px;
    overflow: visible;
    height: 32px;
}
.contact a > img {
    margin-top: 10px;
}
.contact label {
    font-family: JiahuSansLight;
    font-size: 12px;
    line-height: 20px;
}
.contact a,
.contact a:hover,
.contact a:visited {
    text-decoration: none;
    text-shadow: none;
    text-align: center;
    color: #000;
}
.contact input,
.contact input:focus,
.contact input:active,
.input-append .add-on:last-child,
.contact button {
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
}
.contact button a,
.contact button a:hover,
.contact button a:visited {
    color: #fff;
}
/*导航上半部分——相应式样式*/
.contact input,
.contact button {
    font-size:14px;
    width:120px
}
.contact button,
.contact button:hover,
.contact button:visited {
    color:#fff;
    height:30px;
}
/*导航下半部分*/
.navi-down {
    position: relative;
    margin: 15px 0 0 0px;
    height: 52px;
    padding:0 0 0 120px;
}
.navi-down > .span2 {
    height: 30px;
    width:15%;
    margin:0 0 0 0;
    padding:15px 0 0 0;
}
.navi-down > li {
     list-style: none;
     font-size: 13px;
     text-align: center;
 }
.navi-down > li:hover {
    background-color: #036ca5;
}
.navi-down > li:hover > a,
.navi-down > li:visited > a,
.navi-down > li > a:hover {
    text-decoration: none;
    color: #fff;
}
.navi-down > li:hover > ul {
    display: block;
    position: relative;
    top: 0px;
    left: -20px;
    padding: 20px 20px;
    -webkit-box-shadow: #787877 0 0 20px;
    -moz-box-shadow: #787877 0 0 20px;
    box-shadow: #787877 0 0 20px;
}
.navi-down > li > a:visited > ul {
    display: none!important;
}
.dropdown-menu h5 {
    text-align: left;
    font-size: 16px;
}
.dropdown-menu ul {
    text-align: left;
    font-size: 12px;
    margin-bottom: 15px;
}
.dropdown-menu ul:hover a,
.dropdown-menu ul:visited a,
.dropdown-menu h5:hover a,
.dropdown-menu h5:visited a {
    color: #333;
    text-decoration: none;
}
.lightblue,
.dropdown-menu ul:hover .lightblue,
.dropdown-menu ul:visited .lightblue {
    color: #00a1e0;
}
/* 导航栏下半部分样式——响应式元素 */
.navi-down .wid4tow {
    width: 480px;       /*resp 统一500px*/
}
.navi-down .wid4one {
    width: 200px;       /*resp 统一200px*/
}
.dropdown-menu .span6 {
    margin: 10px auto 20px;
    padding-left: 25px; /*resp 根据ul的左侧外边框决定 统一是25px*/
}
.dropdown-menu .span3 {
    margin: 0 0 10px;
    paddin: 0 0 0 0;
    width:245px;        /*resp wid4two决定*/
}
/* 自定义页脚的样式
-------------------------------------------------- */
/* 页脚轮廓及颜色 */
.foot-wrapper {
    *position: relative;
    overflow: visible;
    *z-index:30;
    margin: 20px auto 30px;
}
/* 页脚样式——html元素 */
.foot-wrapper a {
    color: #00a1e0;
}
.foot-wrapper a:hover {
    color: #ff1100;
    text-decoration: none;
}
/* 页脚样式——响应式元素 */
.foot-buttom {
    position: relative;
    display: block;
    overflow: visible;
}
.foot-buttom .thick span{
    font-size: 18px;
    color: #808080;
}
.thick .dropup > .weix,
.thick .dropup > .twit
.thick .dropup > .weib {
    width:32px;
    height:32px;
    border:none;
    background: #ffffff url("../img/icon-twitter.png") no-repeat center;
}
.foot-buttom .thin {
    margin-bottom: 10px;
    font-size: 13px;
    color: #808080;
}
