/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
.marketing .span4 {
    text-align: center;
    margin-left: 20px;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .span4 p {
    margin-left: 10px;
    margin-right: 10px;
}
/* Featurettes
------------------------- */
.featurette {
    padding-top: 60px; /* Vertically center images part 1: add padding above and below text. */
    overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette .lead {
    font-size: 18px;
}
.featurette .span4 {
    margin-left: 0px;
}
.featurette .span8 {
    padding-left: 20px;
}
.featurette .span8 p {
    padding-left: 50px;
}
.featurette .span8 button {
    margin-right: 20%;
}
.featurette-image {
    margin-top: 0px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
    margin-right: 40px;
}
.featurette-image.pull-right {
    margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
    font-size: 30px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}