/* 自定义标签页的样式
-------------------------------------------------- */
/* 标签页轮廓及颜色 */


/* 标签页样式——html元素 */
.tabbable a {
    text-align: center;
    text-decoration: none;
    text-shadow: none;
}
.tabbable img {
    margin-top: 40px;
    margin-bottom: 20px;
}
.tabbable h3 {
    font-size: 25px;
    margin-bottom: 20px;
}
.tabbable .btn {
    padding: .4em .7em;
    border: 0;
    margin-top: 12px;
}
.nav-tabs > li > a,
.nav-tabs > li:hover a,
.nav-tabs > li:focus a {
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    background: #fdfdfd;
    background: -moz-linear-gradient(top,#fdfdfd 0,#dcdcdc 100%)!important;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fdfdfd),color-stop(100%,#dcdcdc))!important;
    background:-webkit-linear-gradient(top,#fdfdfd 0,#dcdcdc 100%)!important;
    background:-o-linear-gradient(top,#fdfdfd 0,#dcdcdc)!important;
    background:-ms-linear-gradient(top,#fdfdfd 0,#dcdcdc 100%)!important;
    background:linear-gradient(top,#fdfdfd 0,#dcdcdc 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#fdfdfd,endcolorstr=#dcdcdc,gradientType=0);
    margin-right: 0px;
    height: 32px;
    line-height: 32px;
    font-size: 1em;
    border-color: #bbbbbb;
}
.nav-tabs > li > a {
    color: #333;
}
.nav-tabs > li:hover a,
.nav-tabs > li:focus a {
    color: #3399cc;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
    background: #8f8f8f;
    background: -moz-linear-gradient(top,#626262 0,#8f8f8f 100%)!important;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#626262),color-stop(100%,#8f8f8f))!important;
    background:-webkit-linear-gradient(top,#626262 0,#8f8f8f 100%)!important;
    background:-o-linear-gradient(top,#626262 0,#8f8f8f 100%)!important;
    background:-ms-linear-gradient(top,#626262 0,#8f8f8f 100%)!important;
    background:linear-gradient(top,#626262 0,#8f8f8f 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#626262,endcolorstr=#8f8f8f,gradientType=0);
    border: 1px solid #8f8f8f;
    color: #ffffff;
}
/* 标签页样式——响应式元素 */
.tabbable .row,
.tabbable .span2,
.tabbable .span6 {
    margin:0 0 0 0;
}
.tabbable .span2 {
    width: 20%;
    height: 50px;
}
.tab-content {
    overflow: hidden;
    border-top: 1px solid #ffffff;
    margin-top: -1px;
    height: 520px;
}
.tab-content button,
.tab-content button a,
.tab-content button:hover a,
.tab-content button a:visited {
    color: #fff;
}
.pane-left {
    margin-left: 40px;         /*resp*/
    font-size: 15px;         /*resp*/
    max-height: 490px;
}
.pane-right {
    margin-right: 20px;         /*resp*/
    max-height: 490px;
}