@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

#tab {
  width: 600px;
  height: 300px;
  border: 1px solid #ccc;
}

.tab_header {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #ccc;

  li {
    width:200px;
    text-align: center;
    float: left;

    &.active {
      background: #ccc;
    }
  }
}

.tab_item {
  display: none;

  &.active {
    display: block;
  }
}


