$primary-color: #ccc !default;

@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

a {
	text-decoration: none;
}

h1 {
  background:linear-gradient(top,#1f8ebe 0,#1d84b5 32%,#1c71a6 74%,#1d6a9e 100%);
}

.primary-color {
	color: $primary-color;
}

.list-item {
	color: $primary-color;
}



